    <body>
            <div class="container mb-5">
                <div class="card mt-5">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=blog.title%>
                        </h5>
                        <div class="row d-flex">
                        <h6 class="card-subtitle mb-2 text-secondary col-lg-8">
                            <%=blog.description%>
                        </h6><span class="text-muted">
                            <%=blog.created.toLocaleDateString()%>
                            <%=blog.created.toLocaleTimeString()%>
                        </span>
                    </div>
                    <hr>
                        <p class="card-text">
                            <%=blog.snippet%>
                        </p>
                        <hr />
                        <div class="d-flex justify-content-end">
                        <%if(blog.author === user.name){%>
                            <a data-doc="<%=blog._id%>" class="delete btn btn-primary mr-2"><i class="fa fa-trash mr-2"></i>Delete</a>
                            <a href="#" class="btn btn-dark mr-2"><i class="fa fa-pen mr-2"></i>Edit</a>
                        <%}%>                        
                        <a href="/blogs/" class="btn btn-info"><i class="fa fa-book mr-2"></i>View All</a>
                    </div>
                    </div>
                </div>
            </div>

            <script>
                const trashcan = document.querySelector('a.delete');
                trashcan.addEventListener('click', (e) => {
                  const endpoint = `/blogs/${trashcan.dataset.doc}`;
                  fetch(endpoint, {
                    method: 'DELETE',
                  })
                  .then(response => response.json())
                  .then(data => window.location.href = data.redirect)
                  .catch(err => console.log(err));
                });
                
              </script>

    </body>